.header{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 100px;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
}

nav{
  display: flex;
  gap: 20px;
}

.login-container{
  display: flex;
  gap: 20px;
}

