$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-size: $font-size;
  color: $font-color;
}

.registration-page, .login-page {
  text-align: center;
}

.registration-form, .login-form {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.adresses-block {
  display: flex;
}

.error-message {
  display: none;
}

.visible {
  display: block;
}

body {
  background-color: #000;
}

.catalog-page {
  display: flex;
  padding: 30px;
}

.catalog-item {
  width: 200px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid grey;
}

.catalog-img {
  width: 100%;
  margin-top: 10px;
}

.product-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}