$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-size: $font-size;
  color: $font-color;
}

.registration-page, .login-page {
  text-align: center;
}

.registration-form, .login-form {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.adresses-block {
  display: flex;
}

.error-message {
  display: none;
}

.visible {
  display: block;
}