$font-size: 1rem;
$font-color: lch(28 99 35);

html {
  font-size: $font-size;
  color: $font-color;
}

.registration-page, .login-page {
  text-align: center;
}

.registration-form, .login-form {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.adresses-block {
  display: flex;
}

.error-message {
  display: none;
}

.visible {
  display: block;
}

body {
  background-color: #000;
}

.sorting-block {
  text-align: center;
  margin-top: 30px;
}

.sort-input {
  margin-right: 15px;
  background-color: gray;
}

.catalog-main-block {
  display: flex;
}

.filters {
  max-width: 110px;
  margin-right: 40px;
  & input {
    max-width: 100px;
  }
}

.filter-item {
  background-color: gray;
  color: black;
  margin-bottom: 15px;
  padding: 2px;
}

.product-list {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  width: 200px;
  background-color: rgb(37, 37, 37);
  margin-bottom: 30px;
  margin-right: 15px;
  padding: 10px;
  border: 1px solid rgb(79, 79, 79);
  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    //background-color: lighten($color: rgb(37, 37, 37), $amount: 5%);
  }
}

.catalog-img {
  width: 100%;
  margin-top: 10px;
}

.product-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.crossed {
  text-decoration: line-through;
}